<h2>
    &nbsp;
    <a href="{{handler.webroot}}/"><img src="{{ static_url('blindpet_logo_crop_small.png') }}" width="32" alt="Home"></a>
    <a href="{{handler.webroot}}/recently"><img src="{{ static_url('icons/32/folder_find.png') }}" width="32" alt="Browse Comics"></a>
    <a href="{{handler.webroot}}/stats"><img src="{{ static_url('icons/32/exec.png') }}" width="32" alt="Settings"></a>
    <a href="{{handler.webroot}}/about"><img src="{{ static_url('icons/info.png') }}" width="32"></a>
</h2>