<h2>&nbsp;
    <a href="{{handler.webroot}}/"><img src="{{ static_url('icons/32/back.png') }}" width="32" alt="Back"></a>
    &nbsp;
    <a href="{{handler.webroot}}/stats"><img src="{{ static_url('icons/32/files.png') }}" width="32" alt="About"></a>
    <a href="{{handler.webroot}}/configure"><img src="{{ static_url('icons/32/control_panel.png') }}" width="32" alt="About"></a>
    <a href="{{handler.webroot}}/control"><img src="{{ static_url('icons/32/exec.png') }}" width="32" alt="About"></a>
    <a href="{{handler.webroot}}/log"><img src="{{ static_url('icons/32/configuration_settings.png') }}" width="32" alt="API"></a>
</h2>

