<!DOCTYPE html>
{% set title = "ComicStreamer" %}
<html>
    <head>
        <meta charset="utf8">
        <link rel="icon" href="{{handler.webroot}}/favicon_blindpet.ico" />

		{% include head_links.html %}

        <title>{{title}}</title>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>

        <style type="text/css">
          @import "{{ static_url('comicstreamer.css') }}";
        </style>

    </head>
    <body>
        <div id="header">
            {% include header.html %}
        </div>
        <div id="headersub">
            {% include headersub_search.html %}
        </div>
        <div id=content> <h2>Most Recent Additions</h2>
            <div class="main_recent">
               
                <div class="cover_list">
                <ul>
                    {% for comic in recently_added %}
                        {% block comic %}
                            <li>
                                <a href="{{handler.webroot}}/comic/{{comic.id}}/reader" target="_blank">
                                   <img src="{{handler.webroot}}/comic/{{comic.id}}/thumbnail?api_key={{api_key}}">
                                   <span class="comic_caption">{{comic.series}} #{{comic.issue}}</span>
                               </a>
                            </li>
                        {% end %}
                    {% end %}
                </ul>
                </div>
            </div>
            <br><h2>Most Recently Read</h2>
            <div class="main_recent">
                
                <div class="cover_list">
                <ul>
                    {% for comic in recently_read %}
                        {% block comic %}
                            <li>
                                <a href="{{handler.webroot}}/comic/{{comic.id}}/reader" target="_blank">
                                   <img src="{{handler.webroot}}/comic/{{comic.id}}/thumbnail?api_key={{api_key}}">
                                   <span class="comic_caption">{{comic.series}} #{{comic.issue}}</span>
                               </a>
                            </li>
                        {% end %}
                    {% end %}
                </ul>
                </div>
            </div>


        </div>



    </body>
</html>

