{% include base/head.html %}

<style type="text/css" title="currentStyle">
    @import "{{ static_url('dynatable/jquery.dynatable.css') }}";
    @import "{{ static_url('qtip2/jquery.qtip.css') }}";
    @import "{{ static_url('comicstreamer.css') }}";
</style>

<script type="text/javascript" language="javascript" src="{{ static_url('js/jquery.min.js') }}"></script>

<script type="text/javascript" src="{{ static_url('dynatable/jquery.dynatable.js') }}"></script>
<script src="{{ static_url('qtip2/jquery.qtip.js') }}"></script>

<script type="text/javascript" charset="utf-8">
    var webroot = '{{handler.webroot}}';
    var nokey_args = '{{args}}';
    args = nokey_args  + '?&api_key={{api_key}}'
    var url = '{{handler.webroot}}/folders' + args;
    var items = [];
    var root = "";
    function list_pusher( key, val)
    {
        browse_path = val.url_path.replace(new RegExp("^" + webroot + "/folders"), webroot + "/folders/browse");
        link_path = root + "/" + val.name; //val.current; //url_path //val.current + val.url_path.replace(new RegExp("^" + webroot + "/folders/"),"");
        //link_path =  link_path.split('/').slice(1).join("/")
        items.push( "<li><a href=\"" + browse_path + "?folder=" + link_path + "\">" + val.name+"</a></li>" );
    }

function processEntityList(data)
{
    if (data.current != "")
    {
        parent = nokey_args.split("/").slice(0,-1).join("/");
        str = data.current;
        root = str;
        args += ""
        $("#current").html("&nbsp;<a href=\"{{handler.webroot}}/folders/browse" + parent + "\"><img class=browser_icon src=\"{{ static_url('icons/navigation/back.png') }}\">&nbsp;&nbsp;<div class=browser_location>"+str+"</div></a>");
    }
    else
    {
        $("#current").html("&nbsp;<img class=\"browser_icon_disabled\" src=\"{{ static_url('icons/navigation/home.png') }}\">&nbsp;&nbsp;<div class=browser_location>Root Folder</div>");
    }
    
    $.each( data.folders, list_pusher);
    
    folder_div = document.getElementById("folders");
    $( "<ul/>", {
      "class": "my-new-list",
      html: items.join( "" )
      }).appendTo( folder_div );
      
      /*if ( data.current != "")
       {
       if (data.comics.count == 0)
       {
       $("#comics").text(""); //[No comics in this folder]
       }
       else
       {
       browse_path = data.comics.url_path.replace(new RegExp("^" + webroot + "/comiclist"), webroot + "/comiclist/browse");
       str = "<a href=\"" + browse_path + "\" class=\"browser_link\">Comics (" + data.comics.count.toString() +")</a>"
       $("#comics").html(str);
       }
       }*/
}
$.getJSON( encodeURI(url), processEntityList);
</script>

{% include table.html %}


