{% include base/head.html %}
<style type="text/css">
    @import "{{ static_url('comicstreamer.css') }}";
    
    </style>

<style type="text/css">
    #coverStop, #coverStopped, #coverReset, #coverRestart{
        position:absolute;
        top:0;
        left:0;
        background:rgba(0,0,0,0.6);
        z-index:105;
        width:100%;
        height:100%;
        display:none;
    }

body {
    overflow: hidden;
  
  
}
#dialogRestart, #dialogReset, #dialogStop, #dialogStopped
{   z-index:110;
    display:none;
    position:fixed;
/*    border-style:solid;
    border-width:20px;*/
    top: 20%;
    height:60%;
    left: 30%;
    width:40%;
}

#dialogStopped:target, #dialogRestart:target, #dialogReset:target, #dialogStop:target, #dialogStopped:target + #coverStopped, #dialogStop:target + #coverStop, #dialogRestart:target + #coverRestart, #dialogReset:target + #coverReset {
    display:block;
    opacity:2;
}

.dialog_cancel
{  position: absolute;
    top: 20%;
    left: 15%;
    width:30%;
    z-index:120;
}
.dialog_ok
{  position: absolute;
    top: 20%;
    left: 60%;
    width:30%;
     z-index:120;
}
.dialog_balloon
{
    position: absolute;
    width: 100%;
    height: 50%;
    top: 0px;
    left: 0px;
}
.dialog_avatar
{
    position: absolute;
    top: 50%;
    left: 30%;
    width:50%;
    
}

.dialog_question
{ position: absolute;
    z-index:120;
    width:100%;
    top: 10%;

}

 </style>
<script type="text/javascript" language="javascript" charset="utf-8">

function processs_scanstatus(scanstatus)
{
    // if new scan complete time is newer than this page, reload the page
    if (page_load_time < scanstatus.last_complete)
    {
        location.reload();
    }
    
    // update some elements here
    $('#scan_status').text(scanstatus.status)
    $('#scan_status_detail').text(scanstatus.detail)
    var delay = 5000;
    if (scanstatus.status != 'IDLE')
    {
        delay = 2000;
    }
    setTimeout(fetch_scanstatus, delay);
}


function processs_dbinfo(dbinfo)
{
    // update some elements here
    $('#db_comics').text(dbinfo.comic_count)
    $('#db_series').text(dbinfo.series_count)
    $('#db_artists').text(dbinfo.artists_count)
    var delay = 10000;
    setTimeout(fetch_dbinfo, delay);
}

function fetch_scanstatus()
{
    $.getJSON( '{{handler.webroot}}/scanstatus?api_key={{api_key}}', processs_scanstatus);
}

function fetch_dbinfo()
{
    $.getJSON( '{{handler.webroot}}/dbinfo?api_key={{api_key}}', processs_dbinfo);
}

//var date = new Date();
//var utc_offset = date.getTimezoneOffset() * 60 * 1000;
var page_load_time = {{ server_time }};

$(document).ready(function()
                  {
                    setTimeout(fetch_scanstatus, 1000);
                    setTimeout(fetch_dbinfo, 0);
                  }
                  );

    
function redirectCmd(cmd)
{   if (cmd == 'restart' ) location.reload();
    if (cmd == 'reset' )   location.reload();
    if (cmd == 'stop' )   location = "#dialogStopped";
    
}

function doCmd(cmd)
{
    if (cmd == 'restart' ) delay = 5000;
    if (cmd == 'reset' )   delay = 7000;
    if (cmd == 'stop' )   delay = 500;
    $.getJSON( '/command?api_key={{api_key}}&cmd='+cmd);
    setTimeout(redirectCmd, delay, cmd);
}

function sendCmd(cmd)
{  // dialog box here
   doCmd(cmd)
}

</script>
    </head>
    <body>
    {% include menu/server.html %}
        <div id=content>
