{% include base/head.html %}
<style type="text/css">
    #coverStop, #coverStopped, #coverReset, #coverRestart{
        position:absolute;
        top:0;
        left:0;
        background:rgba(0,0,0,0.6);
        z-index:105;
        width:100%;
        height:100%;
        display:none;
    }

body {
  /*  overflow: hidden;
  */
  
}
#dialogRestart, #dialogReset, #dialogStop, #dialogStopped
{   z-index:110;
    display:none;
    position:fixed;
/*    border-style:solid;
    border-width:20px;*/
    top: 20%;
    height:60%;
    left: 30%;
    width:40%;
}

#dialogStopped:target, #dialogRestart:target, #dialogReset:target, #dialogStop:target, #dialogStopped:target + #coverStopped, #dialogStop:target + #coverStop, #dialogRestart:target + #coverRestart, #dialogReset:target + #coverReset {
    display:block;
    opacity:2;
}

.dialog_cancel
{  position: absolute;
    top: 20%;
    left: 15%;
    width:30%;
    z-index:120;
}
.dialog_ok
{  position: absolute;
    top: 20%;
    left: 60%;
    width:30%;
     z-index:120;
}
.dialog_balloon
{
    position: absolute;
    width: 100%;
    height: 50%;
    top: 0px;
    left: 0px;
}
.dialog_avatar
{
    position: absolute;
    top: 50%;
    left: 30%;
    width:50%;
    
}

.dialog_question
{ position: absolute;
    z-index:120;
    width:100%;
    top: 10%;

}

 </style>

<script type="text/javascript" charset="utf-8">
    
    $(document).ready(
                      function()
                      {
                      //target_port=0;
                      //if (location.port != target_port)
                      //{
                      //    location.port = target_port;
                      //}
                      use_api_key_toggle();
                      use_auth_toggle();
                      use_mysql_toggle();
                      use_cache_toggle();
                      use_https_toggle();                      }
                      );
                      function create_key()
                      {
                          
                          function s4() {
                              return Math.floor((1 + Math.random()) * 0x10000)
                              .toString(16)
                              .substring(1);
                          }
                          var key = s4() + s4() + s4() + s4() +
                          s4() + s4() + s4() + s4();
                          $("#api_key").val(key);
                      }



 
function use_api_key_toggle()
{
/*  $("#api_key").prop('disabled', !($("#use_key").is(':checked')));
    $("#key_btn").prop('disabled', !($("#use_key").is(':checked')));
  */
    if (!($("#use_key").is(':checked'))) {
      document.getElementById("settings_api").style.display = "none";
    }
    else {
       document.getElementById("settings_api").style.display = "inline";
    }
}

function use_auth_toggle()
{
/*    $("#username").prop('disabled', !($("#use_auth").is(':checked')));
    $("#password").prop('disabled', !($("#use_auth").is(':checked')));
    $("#password_confirm").prop('disabled', !($("#use_auth").is(':checked')));
 */
    if (!($("#use_auth").is(':checked'))) {
        document.getElementById("settings_auth").style.display = "none";
    }
    else {
        document.getElementById("settings_auth").style.display = "inline";
    }

}
function use_cache_toggle()
{
   /* $("#cache_size").prop('disabled', !($("#use_cache").is(':checked')));
    $("#cache_free").prop('disabled', !($("#use_cache").is(':checked')));
    */
   if (!($("#use_cache").is(':checked'))) {
        document.getElementById("settings_cache").style.display = "none";
    }
    else {
        document.getElementById("settings_cache").style.display = "inline";
    }
}
function use_https_toggle()
{/*
    $("#https_port").prop('disabled', !($("#use_https").is(':checked')));
  */
    if (!($("#use_https").is(':checked'))) {
        document.getElementById("settings_https").style.display = "none";
    }
    else {
        document.getElementById("settings_https").style.display = "inline";
    }
}
function use_mysql_toggle()
{
/*  $("#mysql_username").prop('disabled', !($("#use_mysql").is(':checked')));
    $("#mysql_password").prop('disabled', !($("#use_mysql").is(':checked')));
    $("#mysql_database").prop('disabled', !($("#use_mysql").is(':checked')));
    $("#mysql_host").prop('disabled', !($("#use_mysql").is(':checked')));
    $("#mysql_port").prop('disabled', !($("#use_mysql").is(':checked')));
 */
    if (!($("#use_mysql").is(':checked'))) {
        document.getElementById("settings_mysql").style.display = "none";
    }
    else {
        document.getElementById("settings_mysql").style.display = "inline";
    }
}

    function doCmd(cmd)
    {
        if (cmd == 'restart' ) delay = 5000;
        if (cmd == 'reset' )   delay = 7000;
        if (cmd == 'stop' )   delay = 500;
        $.getJSON( '/command?api_key={{api_key}}&cmd='+cmd);
        setTimeout(redirectCmd, delay, cmd);
    }
    
    function sendCmd(cmd)
    {  // dialog box here
       doCmd(cmd)
    }
</script>
    </head>
    <body>
    {% include menu/settings.html %}
        <div id=content>
