{% include base/head.html %}
<style type="text/css">
    #coverStop, #coverStopped, #coverReset, #coverRestart{
        position:absolute;
        top:0;
        left:0;
        background:rgba(0,0,0,0.6);
        z-index:105;
        width:100%;
        height:100%;
        display:none;
    }

body {
  /*  overflow: hidden;
  */
  
}
#dialogRestart, #dialogReset, #dialogStop, #dialogStopped
{   z-index:110;
    display:none;
    position:fixed;
/*    border-style:solid;
    border-width:20px;*/
    top: 20%;
    height:60%;
    left: 30%;
    width:40%;
}

#dialogStopped:target, #dialogRestart:target, #dialogReset:target, #dialogStop:target, #dialogStopped:target + #coverStopped, #dialogStop:target + #coverStop, #dialogRestart:target + #coverRestart, #dialogReset:target + #coverReset {
    display:block;
    opacity:2;
}

.dialog_cancel
{  position: absolute;
    top: 20%;
    left: 15%;
    width:30%;
    z-index:120;
}
.dialog_ok
{  position: absolute;
    top: 20%;
    left: 60%;
    width:30%;
     z-index:120;
}
.dialog_balloon
{
    position: absolute;
    width: 100%;
    height: 50%;
    top: 0px;
    left: 0px;
}
.dialog_avatar
{
    position: absolute;
    top: 50%;
    left: 30%;
    width:50%;
    
}

.dialog_question
{ position: absolute;
    z-index:120;
    width:100%;
    top: 10%;

}

 </style>

<script type="text/javascript" charset="utf-8">
    
    $(document).ready(
                      function()
                      {
                      //target_port=0;
                      //if (location.port != target_port)
                      //{
                      //    location.port = target_port;
                      //}
                      use_api_key_toggle();
                      use_auth_toggle();
                      use_db_toggle();
                      use_https_toggle();
                      use_cache_toggle();
                      use_pdf_toggle();
                      use_ebook_toggle();
                      }
                      );
                      function create_key()
                      {
                          
                          function s4() {
                              return Math.floor((1 + Math.random()) * 0x10000)
                              .toString(16)
                              .substring(1);
                          }
                          var key = s4() + s4() + s4() + s4() +
                          s4() + s4() + s4() + s4();
                          $("#api_key").val(key);
                      }



 
function use_api_key_toggle()
{
    if (!($("#use_key").is(':checked'))) {
      document.getElementById("settings_api").style.display = "none";
      document.getElementById("key_btn").style.display = "none";
      
      
    }
    else {
       document.getElementById("settings_api").style.display = "inline";
       document.getElementById("key_btn").style.display = "inline";
    }
}

function use_auth_toggle()
{
    if (!($("#use_auth").is(':checked'))) {
        document.getElementById("settings_auth").style.display = "none";
    }
    else {
        document.getElementById("settings_auth").style.display = "inline";
    }

}
function use_cache_toggle()
{
   if (!($("#use_cache").is(':checked'))) {
        document.getElementById("settings_cache").style.display = "none";
    }
    else {
        document.getElementById("settings_cache").style.display = "inline";
    }
}
function use_https_toggle()
{
    if (!($("#use_https").is(':checked')))
    {
        document.getElementById("settings_https").style.display = "none";
    }
    else
    {
        document.getElementById("settings_https").style.display = "inline";
    }
}

function use_db_toggle()
{
        if ($("#use_mysql").is(':checked')) {
            document.getElementById("settings_sqlite").style.display = "none";
            document.getElementById("settings_mysql").style.display = "inline";
        }
        else { //if ($("#use_sqlite").is(':checked')) {
            document.getElementById("settings_sqlite").style.display = "inline";
            document.getElementById("settings_mysql").style.display = "none";
        }

}

function use_ebook_toggle()
{
    if (!($("#use_ebook").is(':checked'))) {
        document.getElementById("settings_ebook").style.display = "none";
        if (!($("#use_pdf").is(':checked'))) {
            document.getElementById("settings_pdf").style.display = "none";
        }
    }
    else {
        $('#use_pdf').prop('checked', true);
        document.getElementById("settings_pdf").style.display = "inline";
        document.getElementById("settings_ebook").style.display = "inline";
        if ($("#use_mutool").is(':checked')) use_mutool_toggle();
        if ($("#use_mudraw").is(':checked')) use_mudraw_toggle();
        if ($("#use_pdf2png").is(':checked')) use_pdf2png_toggle();
    }
}

function use_pdf_toggle()
{//!($("#use_ebook").is(':checked')) &&
    if ( !($("#use_pdf").is(':checked'))) {
            document.getElementById("settings_pdf").style.display = "none";
            document.getElementById("settings_ebook").style.display = "none";
            $('#use_ebook').prop('checked', false);
    }
    else {
        document.getElementById("settings_pdf").style.display = "inline";
        if ($("#use_mutool").is(':checked')) use_mutool_toggle();
        if ($("#use_mudraw").is(':checked')) use_mudraw_toggle();
        if ($("#use_pdf2png").is(':checked')) use_pdf2png_toggle();
    }
}


function use_mudraw_toggle()
{
        document.getElementById("settings_pdf2png").style.display = "none";
        document.getElementById("settings_mudraw").style.display = "inline";
        document.getElementById("settings_mutool").style.display = "none";
}
    

function use_mutool_toggle()
{
        document.getElementById("settings_mutool").style.display = "inline";
        document.getElementById("settings_mudraw").style.display = "none";
        document.getElementById("settings_pdf2png").style.display = "none";
    
}

function use_pdf2png_toggle()
{
        document.getElementById("settings_pdf2png").style.display = "inline";
        document.getElementById("settings_mudraw").style.display = "none";
        document.getElementById("settings_mutool").style.display = "none";
    
}


function doCmd(cmd)
{
    if (cmd == 'restart' ) delay = 5000;
    if (cmd == 'reset' )   delay = 7000;
    if (cmd == 'stop' )   delay = 500;
    $.getJSON( '/command?api_key={{api_key}}&cmd='+cmd);
    setTimeout(redirectCmd, delay, cmd);
}

function sendCmd(cmd)
{  // dialog box here
   doCmd(cmd)
}
</script>
    </head>
    <body>
    {% include menu/settings.html %}
        <div id=content>
