{% set title = "About" %}
{% include head/serversub.html %}
<center>
    <span id="bigtitle">ToiletStreamer</span>
    <br>
    <span id="normaltitle">Pampers Edition {{version}}</span>
    <br>
    <br>
    <a href="{{handler.webroot}}/help"><img src="{{ static_url('icons/about/help.png') }}"></a>
    <a href="mailto:tristan@monkeycat.nl"><img src="{{ static_url('icons/about/mail.png') }}"></a>
    <a href="http://www.monkeycat.nl/"><img src="{{ static_url('icons/server/server.png') }}" width=128></a>
    <a href="{{handler.webroot}}/api"><img src="{{ static_url('icons/about/API.png') }}"></a>
    <br>
    <br>
    <span id="normaltitle">Tribute to <img valign="middle" src="{{ static_url('images/about/censoredkaz.png') }}" width="120"> & Toilets everywhere</span>
    <br>
    <span >&nbsp;&nbsp;&nbsp;"May you sit in peace..."</span>
</center>
{% include foot/foot.html %}