{% set title = "API" %}
{% include head/one.html %}
<h3>Bugs</h3>
<pre>
    ComicVine
    
    MySQL:
    
    DB is not deleted by reset
    Delete Records Do Not Work
    Add more info
    Revision
    
    Database:
    
    Paths & Config Should be moved to DB
    
    Dialogs:
    
    See UI
    
    UI:
    
    Setup Wizard
    Fix Settings Entry
    GUIfy mobile/other
    
    Search:
    
    Language does not work
    
    Cache:
    
    Finish (Delete)
    Smart Caching +/- 10 Pages...?
    
    Comicbook Reader:
    
    Exit Button
    Change UI
    Loading Error Fix
    
    Views:
    
    New ownes
    
    PDF:
    ^CCaught Ctrl-C.  exiting.
    2016-05-25 04:34:56,949 - INFO - Initiating shutdown...
    Exception in thread Thread-2:
    Traceback (most recent call last):
    File "/usr/local/Cellar/python/2.7.11/Frameworks/Python.framework/Versions/2.7/lib/python2.7/threading.py", line 801, in __bootstrap_inner
    self.run()
    File "/usr/local/Cellar/python/2.7.11/Frameworks/Python.framework/Versions/2.7/lib/python2.7/threading.py", line 754, in run
    self.__target(*self.__args, **self.__kwargs)
    File "/Users/Tristan/ToiletStreamer/comicstreamerlib/monitor.py", line 87, in mainLoop
    self.dofullScan(self.paths)
    File "/Users/Tristan/ToiletStreamer/comicstreamerlib/monitor.py", line 320, in dofullScan
    md = self.getComicMetadata(filename)
    File "/Users/Tristan/ToiletStreamer/comicstreamerlib/monitor.py", line 196, in getComicMetadata
    image_data = ca.getPage(0)
    File "/Users/Tristan/ToiletStreamer/comicapi/comicarchive.py", line 915, in getPage
    image_data = self.archiver.readArchiveFile( filename )
    File "/Users/Tristan/ToiletStreamer/comicapi/comicarchive.py", line 616, in readArchiveFile
    return subprocess.check_output(['mudraw', '-r', str(resolution), '-o','-', self.path, str(int(os.path.basename(page_num)[:-4]))])
    File "/usr/local/Cellar/python/2.7.11/Frameworks/Python.framework/Versions/2.7/lib/python2.7/subprocess.py", line 573, in check_output
    raise CalledProcessError(retcode, cmd, output=output)
    CalledProcessError: Command '['mudraw', '-r', '300', '-o', '-', u'/Users/Tristan/Downloads/test/Handleiding_RF_link3.pdf', '1']' returned non-zero exit status -2
    

    
</pre>
{% include foot/foot.html %}