{% set title = "Recently" %}
{% include head/recently.html %}

<div class="recent">
    <h2>Most Recent Additions</h2>
    <div class="cover_list">
        <ul>
        {% for comic in recently_added %}
            {% block comic %}
            <li>
                <a href="{{handler.webroot}}/comic/{{comic.id}}/reader" > <!-- target="_blank" -->
                    <img src="{{handler.webroot}}/comic/{{comic.id}}/thumbnail?api_key={{api_key}}">
                    <span class="comic_caption">{{comic.series}} #{{comic.issue}}</span>
                </a>
                <span class="comic_caption"><a href="{{handler.webroot}}/entities/browse/series/{{comic.series}}">{{comic.series}} #{{comic.issue}}</a></span>

            </li>
            {% end %}
        {% end %}
        </ul>
    </div>
</div>
<br>

<div class="recent">
    <h2>Most Recently Read</h2>
    <div class="cover_list">
        <ul>
        {% for comic in recently_read %}
            {% block comic %}
            <li>
                <a href="{{handler.webroot}}/comic/{{comic.id}}/reader" > <!-- target="_blank" -->
                    <img src="{{handler.webroot}}/comic/{{comic.id}}/thumbnail?api_key={{api_key}}">
                </a>
                <span class="comic_caption"><a href="{{handler.webroot}}/entities/browse/series/{{comic.series}}">{{comic.series}} #{{comic.issue}}</a></span>
            </li>
            {% end %}
        {% end %}
        </ul>
    </div>
</div>
{% include foot/foot.html %}