{% set title = "Stats" %}
{% include head/server.html %}
<center>
    <table border="0" cellpadding="3" style="text-align: center">
        <tr><th>

               <a href="{{handler.webroot}}/"><img src="{{ static_url('icons/logo.png') }}"></a>
            <div id="main_stats">
                <br>
                 Comics<section id="db_comics"></section>
                 Series<section id="db_series"></section>
                 Artists<section id="db_artists"></section>
                <br>
                <section id="scan_status">
                </section>
                <div id="scan_status_detail">
                </div>
                <br>
            </div>
        </th>
        </tr>
    </table>
<center>
{% include foot/foot.html %}


