{% set title = "Stats" %}
{% include head/server.html %}
<center>
    <table border="0" cellpadding="3" style="text-align: center">
        <tr><th>

            <div id="main_stats">
                <br>
                 <section id="db_engine"></section>
                 <section id="db_comics"></section>
                 <section id="db_series"></section>
                 <section id="db_artists"></section>
                 <br>
                 <section id="cache_info_1"></section>
                 <section id="cache_info_2"></section>
                 <section id="cache_info_3"></section>
                 <br>
                <section id="scan_status">
                </section>
                <div id="scan_status_detail">
                </div>
                <br>
            </div>
            <br>
               <a href="{{handler.webroot}}/"><img src="{{ static_url('icons/logo.png') }}"></a>
        </th>
        </tr>
    </table>
<center>
{% include foot/foot.html %}


