<!DOCTYPE html>
{% set title = "ComicStreamer: About" %}
<html>
    <head>
        <meta charset="utf8">
            <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
            <meta name="apple-mobile-web-app-capable" content="yes">
                <meta name="apple-mobile-web-app-status-bar-style" content="black">
                    <link rel="icon" href="{{handler.webroot}}/favicon_blindpet.ico" />
                    
                    {% include head_links.html %}
                    
                    <title>{{title}}</title>
                    
                    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
                    
                    <style type="text/css">
                        @import "{{ static_url('comicstreamer.css') }}";
                        </style>
                    
                    </head>
    <body>
        <div id="header">
            {% include header.html %}
        </div>
        <div id="headersub">
            {% include headersub_about.html %}
        </div>
        <div id=content>
            <main>
                <header><h3>ComicStreamer Pampers Edition {{version}}</h3></header>
                Tribute to Kaz Kempers & Toilets everywhere
                <br><small>&nbsp;&nbsp;&nbsp;"May you read in peace..."</small>
                <br><br>
                <details>
                <summary>Contributors</summary>
                <pre>
Anthony Beville
davide-romanini
isaacfinnegan
Tristan79
Kounch
fcanc
Alvaro Marquina
weidercs
Holden Omans
CCarpo
typeDavideuser
Sunno
gwhittey23
                </pre>
                 </details>
                <details>
                    <summary>Source</summary>
                <pre>Project hosted at <a href="https://github.com/Tristan79/ComicStreamer">GitHub</a>
                     </pre> </details>
                <details>
                    <summary>License</summary>
                    <pre>
Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at
                        
http://www.apache.org/licenses/LICENSE-2.0
                        
Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
                    </pre>
                </details>
                <p></p>
                
                        
                        </main>
            
        </div>
        

        
    </body>
</html>

