<h2>&nbsp;
    <a href="{{handler.webroot}}/"><img src="{{ static_url('icons/32/back.png') }}" width="32" alt="Back"></a>
    &nbsp;
    <a href="{{handler.webroot}}/about"><img src="{{ static_url('icons/info.png') }}" width="32" alt="About"></a>
    <a href="https://github.com/Tristan79/ComicStreamer/issues"><img src="{{ static_url('icons/32/help1.png') }}" width="32" alt="Help"></a>
    <a href="mailto:tristan@monkeycat.nl"><img src="{{ static_url('icons/32/mail.png') }}" width="32" alt="Help"></a>
    <a href="{{handler.webroot}}/apihelp.html"><img src="{{ static_url('icons/API.png') }}" width="32" alt="API"></a>
</h2>

