<h2>&nbsp;
    <a href="{{handler.webroot}}/"><img src="{{ static_url('icons/32/back.png') }}" width="32" alt="Back"></a>
    &nbsp;
    <a href="{{handler.webroot}}/recently"><img src="{{ static_url('icons/32/folder_temporary.png') }}" width="32" alt="Browse Comics"></a>
    <a href="{{handler.webroot}}/comiclist/browse"><img src="{{ static_url('icons/32/folder_find.png') }}" width="32" alt="Browse Comics"></a>
    <a href="{{handler.webroot}}/search"><img src="{{ static_url('icons/32/find.png') }}" width="32" alt="Find Comics"></a>
    <a href="{{handler.webroot}}/folders/browse"><img src="{{ static_url('icons/32/folder_yellow.png') }}" width="32" alt="Browse Comics Folder"></a>
    <a href="{{handler.webroot}}/entities/browse/"><img src="{{ static_url('icons/32/folder_yellow.png') }}" width="32" alt="Browse Comics Entities"></a>
</h2>